.rs-footer {
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .rs-footer {
    margin-bottom: 20px;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.rs-footer__block {
  width: 100%;
}
@media (min-width: 991.98px) {
  .rs-footer__block {
    max-width: 26.7%;
    margin-right: 30px;
  }
}
@media (min-width: 991.98px) and (max-width: 1169.98px) {
  .rs-footer__block {
    margin-right: 15px;
  }
}
.rs-footer__item {
  padding: 30px;
  border-radius: 10px;
  background: #f1f5f7;
}
@media (max-width: 1169.98px) {
  .rs-footer__item {
    padding: 20px;
  }
}
.rs-footer__item:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1169.98px) {
  .rs-footer__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.rs-footer__item .rs-btn {
  background: #08c;
  border: 1px solid #08c;
  color: #fff;
  width: 100%;
  margin-top: 26px;
}
@media (max-width: 1169.98px) {
  .rs-footer__item .rs-btn {
    margin-top: 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__item .rs-btn {
    margin-top: 10px;
  }
}
.rs-footer__item .rs-btn svg path {
  fill: #fff;
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-footer__item .rs-btn:hover {
    background: transparent;
    color: #08c;
  }
  .rs-footer__item .rs-btn:hover svg path {
    fill: #08c;
  }
}
.rs-footer__item .rs-btn svg {
  margin-left: 10px;
}
.rs-footer__logo {
  width: 100%;
  max-width: 63px;
  margin-bottom: 20px;
}
.rs-footer__logo a {
  width: 100%;
  height: 100%;
  display: block;
}
.rs-footer__logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-footer__contact li {
  color: #424242;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.42px;
}
@media (max-width: 991.98px) {
  .rs-footer__contact li {
    font-size: 13px;
  }
}
.rs-footer__contact li:not(:last-child) {
  margin-bottom: 26px;
}
@media (max-width: 1169.98px) {
  .rs-footer__contact li:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__contact li:not(:last-child) {
    margin-bottom: 10px;
  }
}
.rs-footer__contact li:first-child a {
  color: #424242;
  font-size: 20px;
  letter-spacing: 0.6px;
}
@media (max-width: 1439.98px) {
  .rs-footer__contact li:first-child a {
    font-size: 18px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer__contact li:first-child a {
    font-size: 16px;
  }
}
.rs-footer__contact li span {
  display: block;
  margin-bottom: 10px;
  color: #687684;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
@media (max-width: 991.98px) {
  .rs-footer__contact li span {
    font-size: 13px;
  }
}
.rs-footer__contact li a {
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-footer__contact li a:hover {
    color: var(--primary-color);
  }
}
.rs-footer__contact li a:not(:last-child) {
  margin-bottom: 12px;
}
.rs-footer__contact_item {
  margin-top: 20px;
  position: relative;
}
.rs-footer__contact_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  color: #687684;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
@media (max-width: 991.98px) {
  .rs-footer__contact_head {
    font-size: 13px;
    margin-bottom: 5px;
  }
}
.rs-footer__contact_head img {
  min-width: 19px;
  min-height: 19px;
  max-width: 19px;
  max-height: 19px;
  margin-right: 8px;
}
.rs-footer__contact_body {
  color: #424242;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.35px;
}
@media (max-width: 991.98px) {
  .rs-footer__contact_body {
    font-size: 13px;
  }
}
.rs-footer__info {
  width: 100%;
}
@media (min-width: 991.98px) {
  .rs-footer__info {
    max-width: 71.2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__info {
    margin-top: 10px;
  }
}
.rs-footer .menu {
  width: 100%;
  border-radius: 10px;
  background: #f1f5f7;
  margin-bottom: 30px;
}
@media (max-width: 1169.98px) {
  .rs-footer .menu {
    margin-bottom: 15px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer .menu {
    margin-bottom: 10px;
  }
}
.rs-footer .menu__list {
  padding: 0px 35px;
}
@media (min-width: 991.98px) {
  .rs-footer .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer .menu__list {
    padding: 0px 10px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer .menu__list {
    padding: 20px;
  }
}
.rs-footer .menu__list li {
  margin: 0px 10px;
}
@media (max-width: 991.98px) {
  .rs-footer .menu__list li {
    margin: 0;
  }
  .rs-footer .menu__list li:not(:last-child) {
    margin-bottom: 10px;
  }
}
.rs-footer .menu__list li a {
  display: block;
  padding: 30px 0px;
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1169.98px) {
  .rs-footer .menu__list li a {
    padding: 20px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer .menu__list li a {
    padding: 0;
    font-size: 13px;
  }
}
@media (any-hover: hover) {
  .rs-footer .menu__list li a:hover {
    color: var(--primary-color);
  }
}
.rs-footer__shops {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 1169.98px) {
  .rs-footer__shops {
    margin-bottom: 15px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__shops {
    margin-bottom: 10px;
  }
}
.rs-footer__shops_head {
  border-radius: 10px;
  background: #f1f5f7;
  margin-bottom: 30px;
  padding: 30px;
}
@media (max-width: 1169.98px) {
  .rs-footer__shops_head {
    margin-bottom: 15px;
    padding: 30px 20px;
  }
}
.rs-footer__shops_list {
  position: relative;
}
.rs-footer__shops_list .swiper-button-next,
.rs-footer__shops_list .swiper-button-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 31px;
  height: 31px;
  margin-top: 0px;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--second-color);
  background-color: #fff;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 6.6px 0px rgba(174, 191, 204, 0.2);
          box-shadow: 0px 4px 6.6px 0px rgba(174, 191, 204, 0.2);
}
.rs-footer__shops_list .swiper-button-prev,
.rs-footer__shops_list .swiper-rtl .swiper-button-next {
  left: -45px;
  right: auto;
}
@media (max-width: 1169.98px) {
  .rs-footer__shops_list .swiper-button-prev,
  .rs-footer__shops_list .swiper-rtl .swiper-button-next {
    left: -30px;
  }
}
.rs-footer__shops_list .swiper-button-next,
.rs-footer__shops_list .swiper-rtl .swiper-button-prev {
  right: -45px;
  left: auto;
}
@media (max-width: 1169.98px) {
  .rs-footer__shops_list .swiper-button-next,
  .rs-footer__shops_list .swiper-rtl .swiper-button-prev {
    right: -30px;
  }
}
.rs-footer__shops_slider {
  margin: -8px -15px -30px;
  padding: 15px;
}
.rs-footer__shops_slide {
  min-width: 190px;
  width: auto;
}
.rs-footer__shops_slide .rs-footer__contact_head {
  color: #424242;
}
.rs-footer__shops_slide .rs-footer__contact_body {
  color: #424242;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
}
@media (max-width: 991.98px) {
  .rs-footer__shops_slide .rs-footer__contact_body {
    font-size: 13px;
  }
}
.rs-footer__shops_slide .rs-footer__contact_item {
  margin: 0;
  padding: 15px 20px;
}
.rs-footer__shops_slide .rs-footer__contact_item:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0px 6px 20.1px 0px rgba(174, 191, 204, 0.25);
          box-shadow: 0px 6px 20.1px 0px rgba(174, 191, 204, 0.25);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}
@media (any-hover: hover) {
  .rs-footer__shops_slide .rs-footer__contact_item:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
.rs-footer__shops_map {
  min-height: 380px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.rs-footer__bottom {
  padding: 21px 30px;
  border-radius: 10px;
  background: #f1f5f7;
  color: #687684;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1169.98px) {
  .rs-footer__bottom {
    padding: 20px;
  }
}
@media (max-width: 767.98px) {
  .rs-footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 767.98px) {
  .rs-footer__develop {
    margin-top: 10px;
  }
}