@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600);
:root {
  --bg-color: #fff;
  --font-color: #303030;
  --primary-color: #eb1320;
  --second-color: #0a327d;
  --gray-color: #f1f5f7;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Non-Standard, But More Styling-Capable Properties */
  /* Standardized Properties */
}
*::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  background: #f5f5f5;
}
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--primary-color) var(--bg-color);
    scrollbar-width: thin;
  }
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--primary-color) var(--primary-color);
  scrollbar-width: thin;
}
*::before::-webkit-scrollbar, *::after::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  background: var(--bg-color);
  border-radius: 3px;
}
*::before::-webkit-scrollbar-thumb, *::after::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: transparent;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 0px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

body {
  color: var(--font-color);
  line-height: 1;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  background: var(--bg-color);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  width: 100%;
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 768px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: 100%;
  }
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

section {
  position: relative;
  margin: 110px 0px;
}
@media (max-width: 1439.98px) {
  section {
    margin: 90px 0px;
  }
}
@media (max-width: 1169.98px) {
  section {
    margin: 70px 0px;
  }
}
@media (max-width: 991.98px) {
  section {
    margin: 50px 0px;
  }
}
@media (max-width: 767.98px) {
  section {
    margin: 30px 0px;
  }
}

._inner-block {
  margin-top: 56px;
}
@media (max-width: 1439.98px) {
  ._inner-block {
    margin-top: 40px;
  }
}
@media (max-width: 1169.98px) {
  ._inner-block {
    margin-top: 30px;
  }
}

.section-header {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1439.98px) {
  .section-header {
    padding-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .section-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 10px;
  }
  .section-header .rs-btn {
    display: none;
  }
}

.rbk-semibold-40 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 44px */
}
@media (max-width: 1439.98px) {
  .rbk-semibold-40 {
    font-size: 32px;
  }
}
@media (max-width: 1169.98px) {
  .rbk-semibold-40 {
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  .rbk-semibold-40 {
    font-size: 16px;
  }
}

.rbk-medium-40 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 44px */
}
@media (max-width: 1439.98px) {
  .rbk-medium-40 {
    font-size: 32px;
  }
}
@media (max-width: 1169.98px) {
  .rbk-medium-40 {
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  .rbk-medium-40 {
    font-size: 16px;
  }
}

.rbk-medium-36 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 39.6px */
}
@media (max-width: 1439.98px) {
  .rbk-medium-36 {
    font-size: 32px;
  }
}
@media (max-width: 1169.98px) {
  .rbk-medium-36 {
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  .rbk-medium-36 {
    font-size: 16px;
  }
}

.rbk-medium-20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 22px */
}
@media (max-width: 1439.98px) {
  .rbk-medium-20 {
    font-size: 18px;
  }
}
@media (max-width: 1169.98px) {
  .rbk-medium-20 {
    font-size: 16px;
  }
}

.rbk-medium-18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.54px;
}
@media (max-width: 1169.98px) {
  .rbk-medium-18 {
    font-size: 15px;
  }
}
@media (max-width: 991.98px) {
  .rbk-medium-18 {
    font-size: 13px;
  }
}

.rbk-regular-20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
@media (max-width: 1439.98px) {
  .rbk-regular-20 {
    font-size: 18px;
  }
}
@media (max-width: 1169.98px) {
  .rbk-regular-20 {
    font-size: 15px;
  }
}
@media (max-width: 991.98px) {
  .rbk-regular-20 {
    font-size: 13px;
  }
}

.rbk-regular-18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.54px;
}
@media (max-width: 1169.98px) {
  .rbk-regular-18 {
    font-size: 15px;
  }
}
@media (max-width: 991.98px) {
  .rbk-regular-18 {
    font-size: 13px;
  }
}

.rbk-regular-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.48px;
}
@media (max-width: 991.98px) {
  .rbk-regular-16 {
    font-size: 13px;
  }
}

.rbk-regular-14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
}
@media (max-width: 991.98px) {
  .rbk-regular-14 {
    font-size: 13px;
  }
}

.rs-btn {
  position: relative;
  overflow: hidden;
  -webkit-appearance: button;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 15px 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  border-radius: 10px;
}
@media (max-width: 991.98px) {
  .rs-btn {
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 5px;
  }
}
.rs-btn._btn-primary {
  color: #fff;
  background-color: var(--primary-color);
}
@media (any-hover: hover) {
  .rs-btn._btn-primary:hover {
    background-color: #b80000;
    color: #fff;
  }
}
.rs-btn._btn-second {
  color: #fff;
  background-color: var(--second-color);
}
@media (any-hover: hover) {
  .rs-btn._btn-second:hover {
    background-color: #0b224f;
    color: #fff;
  }
}
.rs-btn .double-text-wrapper {
  position: relative;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 5px 0px;
  margin: -5px 0px;
}
.rs-btn .double-text-wrapper span {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease, -webkit-transform-style;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease, -webkit-transform-style;
  transition: opacity 0.3s ease, transform 0.3s ease, transform-style;
  transition: opacity 0.3s ease, transform 0.3s ease, transform-style, -webkit-transform 0.3s ease, -webkit-transform-style;
}
.rs-btn .double-text-wrapper span.double-text-origin {
  position: absolute;
  opacity: 0;
  -webkit-transform: translate3d(0px, 120%, 0px);
          transform: translate3d(0px, 120%, 0px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.rs-btn .double-text-wrapper span.double-text-copy {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  -webkit-transform: translate3d(0px, 0%, 0px);
          transform: translate3d(0px, 0%, 0px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  opacity: 1;
}
@media (any-hover: hover) {
  .rs-btn:hover::after {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
  .rs-btn:hover span.double-text-origin {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1);
            transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .rs-btn:hover span.double-text-copy {
    -webkit-transform: translate3d(0px, -120%, 0px);
            transform: translate3d(0px, -120%, 0px);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    opacity: 0;
  }
}

@media (min-width: 991.98px) {
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px -10px;
  }
  .form__row .form__line {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.3333%;
            flex: 1 1 33.3333%;
    padding: 0px 10px;
  }
}
.form__line {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
@media (max-width: 991.98px) {
  .form__line {
    margin-bottom: 10px;
  }
}
.form__line .select__title {
  background: var(--second-color);
}
.form__line .select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 16px;
  color: var(--primary-color);
}
@media (max-width: 991.98px) {
  .form__line .select__value {
    padding: 15px 10px;
  }
}
.form__error {
  margin-top: 5px;
  color: #eb1320;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.39px;
}
.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .form__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.form__footer .form__button {
  margin: 0;
}
@media (max-width: 767.98px) {
  .form__footer .form__button {
    min-width: 100%;
    max-width: 100%;
  }
}
.form__footer .form__button .rs-btn {
  width: 100%;
}
.form__footer .form__agreement {
  margin-right: 30px;
}
@media (max-width: 1439.98px) {
  .form__footer .form__agreement {
    margin-right: 15px;
  }
}
@media (max-width: 767.98px) {
  .form__footer .form__agreement {
    margin-right: 0px;
    max-width: 100%;
    margin-bottom: 10px;
  }
}
.form__agreement {
  color: #687684;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.36px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 51.5%;
          flex: 1 1 51.5%;
}
@media (max-width: 1169.98px) {
  .form__agreement {
    font-size: 12px;
  }
}
.form__agreement a {
  text-decoration: underline;
  text-underline-offset: 2px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media (any-hover: hover) {
  .form__agreement a:hover {
    text-decoration: none;
  }
}
.form__button {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48.5%;
          flex: 1 1 48.5%;
}
.form__button .rs-btn {
  width: 100%;
}

.rs-input {
  outline: none;
  width: 100%;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  padding: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  border-radius: 5px;
  border: 1px solid #d2e3f0;
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .rs-input {
    font-size: 13px;
  }
}
.rs-input::-webkit-input-placeholder {
  color: #aebfcc;
}
.rs-input::-moz-placeholder {
  color: #aebfcc;
}
.rs-input:-ms-input-placeholder {
  color: #aebfcc;
}
.rs-input::-ms-input-placeholder {
  color: #aebfcc;
}
.rs-input::placeholder {
  color: #aebfcc;
}
.rs-input._form-error {
  border-color: #eb1320;
}
.rs-input._form-right {
  border-color: #d2e3f0;
  background-color: #e6fcf5;
}

textarea.rs-input {
  resize: vertical;
  min-height: 135px;
}

.swiper-button-prev:active, .swiper-button-prev:focus,
.swiper-button-next:active,
.swiper-button-next:focus {
  outline: none !important;
}
.swiper-button-prev::-moz-focus-inner,
.swiper-button-next::-moz-focus-inner {
  border: 0 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0px;
}

.swiper-pagination-bullet:active, .swiper-pagination-bullet:focus {
  outline: none !important;
}
.swiper-pagination-bullet::-moz-focus-inner {
  border: 0 !important;
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-lock {
  display: none !important;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.rs-breadcrumbs {
  position: relative;
  margin-top: 56px;
  margin-bottom: 26px;
}
@media (max-width: 1439.98px) {
  .rs-breadcrumbs {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-breadcrumbs {
    display: none;
  }
}
.rs-breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px;
}
.rs-breadcrumbs__item {
  color: #687684;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.39px;
  background-color: #f1f5f7;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  margin: 5px;
}
@media (any-hover: hover) {
  .rs-breadcrumbs__item:hover {
    background-color: #ffffff;
  }
}
.rs-breadcrumbs__item span {
  display: inline-block;
}
.rs-breadcrumbs__link:after {
  display: inline-block;
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 1.5L6.5 6.5L1.5 11.5' stroke='%23999999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 8px;
  height: 8px;
  margin-left: 3px;
}
@media (any-hover: hover) {
  .rs-breadcrumbs__link:hover {
    color: var(--tertiary-color);
  }
}

.pagging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 40px;
}
@media (max-width: 991.98px) {
  .pagging {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}
.pagging.search-pagging {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px;
}
.pagging__arrow {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 33px;
  min-height: 33px;
  max-width: 33px;
  max-height: 33px;
  border-radius: 5px;
  border: 1.191px solid #d2e3f0;
  background-color: #fff;
  color: var(--primary-color);
}
@media (max-width: 439.98px) {
  .pagging__arrow {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
  }
}
.pagging__arrow svg path {
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}
@media (max-width: 374.98px) {
  .pagging__arrow.pagging__arrow_start, .pagging__arrow.pagging__arrow_end {
    display: none;
  }
}
.pagging__arrow.pagging__arrow_left, .pagging__arrow.pagging__arrow_start {
  margin-right: 6px;
}
.pagging__arrow.pagging__arrow_right, .pagging__arrow.pagging__arrow_end {
  margin-left: 6px;
}
.search-pagging .pagging__arrow {
  min-width: unset;
  min-height: unset;
  max-width: unset;
  max-height: unset;
  border: none;
}
.search-pagging .pagging__arrow::before {
  display: none;
}
.search-pagging .pagging__arrow.pagging__arrow_left, .search-pagging .pagging__arrow.pagging__arrow_start {
  margin-right: 10px;
}
.search-pagging .pagging__arrow.pagging__arrow_right, .search-pagging .pagging__arrow.pagging__arrow_end {
  margin-left: 10px;
}
.search-pagging .pagging__arrow.pagging__arrow_start, .search-pagging .pagging__arrow.pagging__arrow_end {
  color: var(--second-color);
  text-decoration-line: underline;
}
.search-pagging .pagging__arrow.pagging__arrow_left, .search-pagging .pagging__arrow.pagging__arrow_right {
  color: #415674;
}
@media (any-hover: hover) {
  .search-pagging .pagging__arrow:hover {
    color: var(--primary-color);
    background-color: #fff;
  }
}
@media (any-hover: hover) {
  .pagging__arrow:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  .pagging__arrow:hover svg path {
    fill: #fff;
  }
}
.pagging__arrow:disabled {
  display: none;
}
.pagging__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagging__item:not(:last-child) {
  margin-right: 4.5px;
}
.pagging__link, .pagging__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  min-width: 33px;
  min-height: 33px;
  max-width: 33px;
  max-height: 33px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  border: 1.191px solid #d2e3f0;
  background-color: #fff;
}
@media (max-width: 439.98px) {
  .pagging__link, .pagging__more {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
  }
}
.pagging__link._active {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
@media (any-hover: hover) {
  .pagging__link:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
.pagging__more {
  border: none;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: block;
  pointer-events: none;
}
@media (max-width: 992px) {
  .cursor {
    display: none;
  }
}
.cursor__point-zero {
  position: relative;
  width: 0;
  height: 0;
}
.cursor__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 0px;
  height: 0px;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: var(--second-color);
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out, height 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656), width 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656);
  transition: opacity 0.3s ease-in-out, height 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656), width 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656);
}
.cursor__arrow {
  margin: 0 13px;
  -webkit-transition: margin 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656);
  transition: margin 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cursor__arrow::before {
  font-size: 24px;
  color: #fff;
}
.cursor.cursor__active .cursor__circle {
  width: 88px;
  height: 88px;
  opacity: 1;
}
.cursor.cursor__active .cursor__circle.cursor__circle__drag {
  width: 60px;
  height: 60px;
}
.cursor.cursor__active .cursor__circle.cursor__circle__drag .cursor__arrow {
  margin: 0 5px;
}