.rs-header {
	z-index: 1000;
	position: relative;

	// .rs-header__container
	&__container {
	}

	// .rs-header__main
	&__main {
		padding-top: 7px;
		position: relative;
		z-index: 9;

		@media (max-width: 1169.98px) {
			padding-top: 10px;
		}
	}

	// .rs-header__top
	&__top {
		display: flex;
	}

	// .rs-header__logo
	&__logo {
		padding: 11px 30px 7px;
		max-width: 130px;
		width: 100%;
		margin-right: 20px;

		@media (max-width: 1439.98px) {
			max-width: 90px;
			padding: 10px;
			margin-right: 10px;
		}

		@media (max-width: 1169.98px) {
			max-width: 27.742px;
			padding: 0;
			display: none;
			margin-left: 17px;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	// .rs-header__block
	&__block {
		flex-grow: 1;

		@media (max-width: 1169.98px) {
			display: flex;
			align-items: center;
		}

		@media (min-width: 1169.98px) {
			.rs-header__logo {
				display: none;
			}
		}

		@media (max-width: 1169.98px) {
			.rs-header__logo {
				display: block;
			}
		}
	}

	.menu {
		// .menu__icon
		&__icon {
			display: none;

			@media (max-width: 1169.98px) {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				width: 20px;
				height: 16px;
				cursor: pointer;
				z-index: 5;
				transition: all 0.3s ease 0s;
				background-color: transparent;

				span,
				&::before,
				&::after {
					content: "";
					transition: all 0.3s ease 0s;
					position: absolute;
					height: 2px;
					width: 100%;
					border-radius: 2px;
					background: #303030;
				}

				&::before {
					top: 0px;
				}

				span {
					top: 50%;
					transform: translateY(-50%);
				}

				&::after {
					bottom: 0px;
				}

				.menu-open & {
					span {
						width: 0;
						opacity: 0;
					}

					&::before {
						top: calc(50% - 1px);
						transform: rotate(-45deg);
					}

					&::after {
						bottom: calc(50% - 1px);
						transform: rotate(45deg);
					}
				}
			}
		}

		// .menu__close
		&__close {
			display: none;

			@media (max-width: 1169.98px) {
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				right: 18px;
				top: 18px;
				width: 18px;
				height: 18px;
				cursor: pointer;
				z-index: 5;
				transition: all 0.3s ease 0s;
				background-color: transparent;

				span,
				&::before,
				&::after {
					content: "";
					transition: all 0.3s ease 0s;
					position: absolute;
					height: 1px;
					width: 100%;
					border-radius: 1px;
					background: #aebfcc;
				}

				&::before {
					top: calc(50% - 0.5px);
					transform: rotate(-45deg);
				}

				&::after {
					bottom: calc(50% - 0.5px);
					transform: rotate(45deg);
				}
			}
		}

		@media (max-width: 1169.98px) {
			&:after {
				content: " ";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				background: rgba(0, 0, 0, 0.5);
				z-index: 100;
				transition: all 0.3s ease 0s;
				opacity: 0;
				visibility: hidden;
			}

			.menu-open & {
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		// .menu__block
		&__block {
			@media (max-width: 1169.98px) {
				position: absolute;
				width: calc(100% - 34px);
				max-height: 100vh;
				min-height: 100vh;
				top: 0%;
				transform: translateX(-150%);
				left: 0;
				overflow-y: scroll;
				overflow-x: hidden;
				border-radius: 0px 10px 10px 0px;
				background: #fff;
				transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
				z-index: 101;
				padding: 10px 16px 10px 20px;

				.menu-open & {
					transform: translateX(0%);
				}

				.rs-header__logo {
					margin: 0;
					padding: 0;
				}
			}

			@media (min-width: 1169.98px) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid #f1f5f7;
				margin-bottom: 20px;

				@media (max-width: 1439.98px) {
					margin-bottom: 10px;
				}
			}

			& > ul,
			& > nav > ul {
				@media (min-width: 1169.98px) {
					display: flex;
					align-items: center;
				}

				& > li {
					&:not(:last-child) {
						margin-right: 30px;

						@media (max-width: 1439.98px) {
							margin-right: 15px;
						}

						@media (max-width: 1169.98px) {
							margin-right: 0px;
							margin-bottom: 10px;
						}
					}

					@media (any-hover: hover) {
						&:hover {
							& > a {
								color: var(--primary-color);
							}
						}
					}

					& > a {
						display: flex;
						padding: 15px 0px 11px;
						font-size: 14px;
						font-style: normal;
						line-height: normal;
						letter-spacing: 0.42px;
						transition: color 0.3s ease 0s;

						@media (max-width: 1439.98px) {
							font-size: 13px;
						}

						@media (max-width: 1169.98px) {
							padding: 0px;
						}
					}
				}
			}
		}

		// .menu__body
		&__body {
		}

		// .menu__contact
		&__contact {
			@media (max-width: 1169.98px) {
				padding-top: 24px;
				margin-top: 24px;
				border-top: 1px solid #d2e3f0;
			}

			li {
				&:first-child {
					a {
						font-weight: 400;
					}
				}
				@media (max-width: 1169.98px) {
					&:not(:last-child) {
						margin: 0;
						margin-bottom: 20px !important;
					}
				}

				a {
					font-weight: 500;

					@media (max-width: 1169.98px) {
						font-size: 14px !important;
					}
				}
			}
		}

		// .menu__list
		&__list {
			width: 100%;

			@media (max-width: 1169.98px) {
				margin-top: 30px;
			}

			& > li {
				& > a,
				& > button {
					color: #687684;

					@media (max-width: 1169.98px) {
						color: #303030;
					}
				}
			}

			li {
				position: relative;

				@media (any-hover: hover) {
					&:hover {
						& > a,
						& > button {
							color: var(--primary-color) !important;
						}
					}
				}

				a,
				button {
					transition: all 0.3s ease 0s;
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: space-between;

					i {
						@media (min-width: 991.98px) {
							display: none;
						}

						position: relative;
						max-width: 8px;
						max-height: 8px;
						min-width: 8px;
						min-height: 8px;
						border-radius: 100%;
						display: flex;
						align-items: center;
						justify-content: center;

						&::before,
						&::after {
							content: "";
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%) rotate(-90deg);
							width: 1px;
							height: 8px;
							background-color: var(--second-color);
							transition: all 0.3s ease 0s;
						}

						&::before {
							transform: translate(-50%, -50%) rotate(0deg);
						}
					}
				}

				&.dropdown {
					&._open-menu {
						@media (min-width: 1169.98px) {
							& > ul.dropdown__menu {
								opacity: 1;
								visibility: visible;
								transform: translateY(0px);
								pointer-events: visible;
							}
						}

						& > a > i:before {
							transform: translate(-50%, -50%) rotate(-90deg);
						}
					}

					@media (any-hover: hover) and (min-width: 991.98px) {
						&:hover {
							& > ul.dropdown__menu {
								opacity: 1;
								visibility: visible;
								transform: translateY(0px);
								pointer-events: visible;
								transition: all 0.3s ease 0s;
							}
						}
					}

					ul.dropdown__menu {
						@media (min-width: 1169.98px) {
							position: absolute;
							top: 100%;
							left: 0px;
							pointer-events: none;
							min-width: 335px;
							max-width: 335px;
							display: block;
							opacity: 0;
							visibility: hidden;
							transform: translateY(20px);
							transition: all 0.3s ease 0s;
							z-index: 15;
							padding: 10px 0px;
							border-radius: 0px 0px 10px 10px;
							background: #fff;
							box-shadow: 0px 6px 20.1px 0px rgba(174, 191, 204, 0.25);

							li {
								& > ul.dropdown__menu {
									top: 0px;
									left: 100%;
								}
							}
						}

						@media (max-width: 1169.98px) {
							margin-top: 10px;
							padding-left: 20px;

							li {
								&:not(:last-child) {
									margin-bottom: 15px;
								}
							}
						}

						li {
							a,
							button {
								color: #000;
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: 110%; /* 17.6px */
								letter-spacing: 0.48px;
								padding: 10.2px 20px;

								@media (max-width: 1439.98px) {
									font-size: 14px;
									padding: 8px 20px;
								}

								@media (max-width: 1169.98px) {
									font-size: 13px;
									padding: 0;
									color: #687684;
								}
							}
						}
					}
				}
			}
		}
	}

	// .rs-header__action
	&__action {
		display: flex;

		@media (max-width: 1169.98px) {
			margin: 0px 0px 0px auto;
		}
	}

	.search {
		margin-left: 20px;
		margin-right: 12px;
		flex-grow: 1;

		@media (max-width: 1169.98px) {
			margin-right: 17px;
		}

		// .search__form
		&__form {
			width: 100%;
		}

		// .search__line
		&__line {
			width: 100%;
			border-radius: 10px;
			border: 1px solid #d2e3f0;
			padding: 9px 30px;
			display: flex;
			align-items: center;
		}

		// .search__input
		&__input {
			width: 100%;
			background-color: transparent;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 0.42px;

			&::placeholder {
				color: #b5b5b5;
			}
		}

		// .search__clear
		&__clear {
			display: none;
			svg {
				width: 16px;
				height: 16px;
			}
		}

		// .search__submit
		&__submit {
			margin-left: 15px;
		}

		&__block {
			@media (max-width: 1169.98px) {
				display: none;
			}
		}

		&__show {
			background-color: transparent;
			transition: all 0.3s ease 0s;
			position: relative;
			min-width: unset;
			min-height: unset;
			max-width: unset;
			max-height: unset;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;

			svg {
				position: absolute;
				opacity: 0;
				transform-origin: center;
				transform: scale(0);
				transition: 0.3s ease-in-out;
				transition-property: opacity, transform;

				path {
					transition: all 0.3s ease 0s;
				}

				&:first-child {
					position: relative;
					opacity: 1;
					transform: scale(1);

					path {
						stroke: var(--second-color);
					}
				}
			}

			@media (min-width: 1169.98px) {
				display: none;
			}
		}
	}

	// .rs-header__buttons
	&__buttons {
		ul {
			display: flex;
			align-items: center;
			height: 100%;

			li {
				height: 100%;

				&:not(:last-child) {
					margin-right: 12px;

					@media (max-width: 1169.98px) {
						margin-right: 17px;
					}
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					border-radius: 10px;
					transition: all 0.3s ease 0s;
					background-color: transparent;

					@media (min-width: 1169.98px) {
						padding: 9px 15px;
						border: 1px solid #d2e3f0;
					}

					svg {
						path {
							transition: stroke 0.3s ease 0s;
						}
					}

					@media (any-hover: hover) {
						&:hover {
							border: 1px solid var(--second-color);
							background-color: var(--second-color);

							svg {
								path {
									stroke: #fff;
								}
							}
						}
					}
				}
			}
		}

		.log-in {
			display: none;

			&._active {
				display: flex;
			}
		}

		.log-out {
			display: none;

			&._active {
				display: flex;
			}
		}

		.cart {
			position: relative;
			.badge {
				position: absolute;
				left: 28px;
				top: 13px;
				color: #fff;
				font-size: 10px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.3px;
				padding: 0.5px 2px 0.5px 3px;
				border-radius: 19px;
				background: #eb1320;

				@media (max-width: 1169.98px) {
					left: 10px;
					top: 0px;
				}
			}
		}
	}

	// .rs-header__bottom
	&__bottom {
		margin-top: 25px;

		@media (max-width: 1169.98px) {
			margin-top: 15px;
		}
	}

	// .rs-header__category
	&__category {
		position: relative;

		@media (max-width: 1169.98px) {
			margin: 0 -30px;
		}

		// nav
		.swiper-button-next,
		.swiper-button-prev {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 31px;
			height: 31px;
			margin-top: 0px;
			z-index: 10;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--second-color);
			background-color: #fff;
			border-radius: 5px;
			background: #fff;
			box-shadow: 0px 4px 6.6px 0px rgba(174, 191, 204, 0.2);

			@media (max-width: 1169.98px) {
				display: none;
			}
		}

		.swiper-button-prev,
		.swiper-rtl .swiper-button-next {
			left: -15px;
			right: auto;
		}

		.swiper-button-next,
		.swiper-rtl .swiper-button-prev {
			right: -15px;
			left: auto;
		}

		// .rs-header__category_slider
		&_slider {
			z-index: 0;
			@media (max-width: 1169.98px) {
				overflow: visible;
			}
		}

		// .rs-header__category_swiper
		&_swiper {
		}

		// .rs-header__category_slide
		&_slide {
			min-width: 230px;
			width: auto;

			@media (max-width: 1169.98px) {
				min-width: 150px;
			}
		}

		// .rs-header__category_item
		&_item {
			border-radius: 7px;
			background-color: #f1f5f7;
			transition: background-color 0.3s ease 0s;

			@media (any-hover: hover) {
				&:hover {
					background-color: #d2e3f0;
				}
			}

			a {
				padding: 15px 30px;
				display: flex;
				align-items: center;
				justify-content: center;

				@media (max-width: 1169.98px) {
					padding: 10px 20px;
				}

				img {
					width: 30px;
					height: 30px;
					margin-right: 10px;

					@media (max-width: 1169.98px) {
						width: 20px;
						height: 20px;
					}
				}

				h6 {
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					letter-spacing: 0.48px;

					@media (max-width: 1169.98px) {
						font-size: 13px;
					}
				}
			}
		}

		// .rs-header__category_button-prev
		&_button-prev {
		}

		// .rs-header__category_button-next
		&_button-next {
		}
	}

	// .rs-header__fixed
	&__fixed {
		border-radius: 0px 0px 10px 10px;
		background: #fff;
		box-shadow: 0px 6px 20.1px 0px rgba(174, 191, 204, 0.25);
		position: fixed;
		z-index: 10;
		width: 100%;
		left: 0;
		top: -300px;
		transition: top 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;

		display: none;

		@media (max-width: 1169.98px) {
			display: none;
		}

		.rs-header {
			&__action {
				align-items: center;
			}
			&__container {
				@media (min-width: 1169.98px) {
					max-width: 1430px;
				}
			}
			&__logo {
				max-width: 82px;
				padding: 8px 15px 5px 14px;
			}
		}
	}
}

.rs-header {
	&__top {
		@media (min-width: 1169.98px) {
			position: relative;
		}
	}

	// .rs-header__catalog
	&__catalog {
		width: 100%;
		max-width: 194px;

		@media (max-width: 991.98px) {
			display: none;
		}

		// .rs-header__catalog_btn
		&_btn {
			width: 100%;

			&::before {
				content: "";
				position: relative;
				display: inline-block;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 1L1 12M1 1L12 12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				width: 13px;
				height: 13px;
				margin-right: 10px;
				opacity: 0;
				margin-left: -23px;
				transition: all 0.3s ease 0s;
			}

			&._active {
				background-color: var(--second-color);

				&::before {
					margin-left: -0px;
					opacity: 1;
				}
			}
		}

		// .rs-header__catalog_menu
		&_menu {
			position: absolute;
			top: calc(100% + 25px);
			left: 50%;
			transform: translateX(-50%) translateY(20px);
			width: calc(100% + 30px);
			padding: 40px;
			background-color: #fff;
			z-index: 100;
			border: 1px solid #d2e3f0;
			border-radius: 10px;

			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: all 0.3s ease 0s;

			&._active {
				opacity: 1;
				visibility: visible;
				transform: translateX(-50%) translateY(0px);
				pointer-events: visible;
			}

			@media (max-width: 1439.98px) {
				top: calc(100% + 0px);
				width: calc(100% + 10px);
				padding: 20px;
			}

			@media (max-width: 1169.98px) {
				top: calc(100% + 10px);
			}
		}

		// .rs-header__catalog_block
		&_block {
			display: flex;
			align-items: flex-start;
		}

		// .rs-header__catalog_navigation
		&_navigation {
			width: 100%;
			max-width: 416px;
			padding-right: 20px;
			margin-right: 32px;
			max-height: calc(100vh - 250px);
			overflow-y: scroll;
			overflow-x: hidden;

			@media (max-width: 1439.98px) {
				padding-right: 15px;
				margin-right: 15px;
				max-width: 285px;
				max-height: calc(100vh - 185px);
			}

			@media (max-width: 1169.98px) {
				max-height: calc(100vh - 175px);
			}
		}

		// .rs-header__catalog_title
		&_title {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 16px;
			// line-height: 18px;
			line-height: 120%;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #000;
			width: 100%;
			cursor: pointer;
			text-align: left;
			position: relative;
			padding-right: 20px;
			transition: all 0.3s ease 0s;

			@media (max-width: 1439.98px) {
				font-size: 14px;
			}

			@media (max-width: 1169.98px) {
				font-size: 12px;
			}

			&:not(:last-child) {
				margin-bottom: 20px;

				@media (max-width: 1439.98px) {
					margin-bottom: 16px;
				}
			}

			img {
				flex: 0 0 40px;
				min-height: 40px;
				max-height: 40px;
				max-width: 40px;
				min-width: 40px;
				margin-right: 10px;
				background: #f1f5f7;
				border-radius: 5px;
				object-fit: contain;

				@media (max-width: 1439.98px) {
					flex: 0 0 36px;
					min-height: 36px;
					max-height: 36px;
					max-width: 36px;
					min-width: 36px;
				}
			}

			&._active-category {
				color: #eb1320;
				text-shadow:
					0.3px 0.3px 0 currentColor,
					-0.3px 0.3px 0 currentColor,
					0.3px -0.3px 0 currentColor,
					-0.3px -0.3px 0 currentColor;
			}
		}

		&_icon {
			position: absolute;
			right: 0;
			margin: 0px 0px 0px auto;

			path {
				transition: stroke 0.3s ease 0s;
			}

			._active-category & {
				path {
					stroke: #eb1320;
				}
			}
		}

		&_content {
			flex-grow: 1;
		}

		&_body {
			display: none;

			&._active-category {
				display: block;
			}

			& > h4 {
				font-weight: 500;
				font-size: 25px;
				// line-height: 28px;
				line-height: 110%;
				color: #000;
				margin-bottom: 26px;

				@media (max-width: 1439.98px) {
					font-size: 20px;
					margin-bottom: 20px;
				}
			}
		}

		&_list {
			max-height: calc(100vh - 300px);
			overflow-y: scroll;
			overflow-x: hidden;

			@media (max-width: 1439.98px) {
				max-height: calc(100vh - 225px);
			}

			@media (max-width: 1169.98px) {
				max-height: calc(100vh - 215px);
			}

			ul {
				li {
					&:not(:last-child) {
						margin-bottom: 15px;
					}

					a {
						display: block;
						font-weight: 400;
						font-size: 16px;
						// line-height: 18px;
						line-height: 110%;
						letter-spacing: 0.03em;
						color: #000;
						transition: all 0.3s ease 0s;

						@media (any-hover: hover) {
							&:hover {
								color: #eb1320;
							}
						}
					}
				}
			}
		}
	}
}
