._rs-icon-filter:before {
	content: "\e90c";
	color: #8d8d8d;
}
._rs-icon-globe:before {
	content: "\e90e";
	color: #025ea1;
}
._rs-icon-chevron-bottom:before {
	content: "\e900";
	color: #025ea1;
}
._rs-icon-chevron-left:before {
	content: "\e901";
	color: #025ea1;
}
._rs-icon-chevron-right:before {
	content: "\e902";
	color: #025ea1;
}
._rs-icon-chevron-top:before {
	content: "\e903";
	color: #025ea1;
}
._rs-icon-clipboard-text:before {
	content: "\e904";
	color: #025ea1;
}
._rs-icon-pagination-bottom:before {
	content: "\e905";
	color: #025ea1;
}
._rs-icon-pagination-left:before {
	content: "\e906";
	color: #025ea1;
}
._rs-icon-pagination-right:before {
	content: "\e907";
	color: #025ea1;
}
._rs-icon-pagination-top:before {
	content: "\e908";
	color: #025ea1;
}
._rs-icon-play-video .path1:before {
	content: "\e90a";
	color: rgb(108, 172, 228);
}
._rs-icon-play-video .path2:before {
	content: "\e90b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
._rs-icon-user:before {
	content: "\e90d";
	color: #fff;
}
._rs-icon-close:before {
	content: "\e909";
}
